---
import MainLayout from "../layouts/mainLayout.astro"
---
<!-- publications.astro -->
<MainLayout title="publications" headerText="Publications">
  <p>No publications exist at this moment </p>
</MainLayout>
