  <!-- footer.astr -->
  <footer class="flex-auto">This project is maintained by: <a href="https://kastle-lab.github.io/"><small>KASTLE-Lab</small></a></footer>

<style>
  a:link {
    text-decoration: none;
  }
  a:hover{
    text-decoration:underline;
  }
  footer{ position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;} 
</style>