  <!-- footer.astr -->
  <footer class="bottom-0 absolute max-w-xs">This project is maintained by: <a class="hover:underline " href="https://kastle-lab.github.io/"><small>KASTLE-Lab</small></a></footer>
