---
import Link from "./link.astro"
const { h1Text, imageSrc} = Astro.props;
---
<!-- header.astro -->
<header class="items-center py-6">
  {imageSrc && <img src={imageSrc} alt="Logo" class="h-64 w-auto" />}
  <nav class="">
  <ul class="p-24 py-0"> 
      <li><Link href="/">Home</Link></li>
      <li><Link href="/atro-test/people">People</Link></li>
      <li><Link href="/astro-test/publications">Publications</Link></li>
  </ul>
</nav> 
</header>
