<!-- ---
import Link from "./link.astro"
---
<nav class="">
  <ul>
      <li><Link href="/">Home</Link></li>
      <li><Link href="/people">People</Link></li>
      <li><Link href="/publications">Publications</Link></li>
  </ul>
</nav> -->

<!-- See src/components/header.astro -->