---
import Link from "./Link.astro"
---
<nav>
  <ul>
      <li><Link href="/">Home</Link></li>
      <li><Link href="/people">People</Link></li>
      <li><Link href="/outreach">Outreach</Link></li>
      <li><Link href="/pubs">Publications</Link></li>
  </ul>
</nav>
