---
import Foot from "../components/footer.astro"
import Header from "../components/header.astro"
import "./src/styles/global.css"
const { title, headerText} = Astro.props;
---
<!-- mainLayout.astro -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body class="min-h-screen flex flex-col">
    <div class="flex">
    <Header h1Text={headerText} imageSrc="../../public/logo.png">
    </Header>
  </div>
  <div class="flex-1 px-4 py-6 container mx-auto">
    <slot >
    </slot>
  </div>
      

  </body>
  <Foot>
  </Foot>
</html>

